# development configuration for Python 3.14.7.
numpy==2.5.3
pandas==2.3.3
scipy==1.18.1
matplotlib==3.11.2
mne==1.13.2
pyEDFlib==0.1.42
NEURAL_py_EEG @ git+https://github.com/BrianMur92/NEURAL_py_EEG_feature_set.git@78c94258e4a3e6504e469f418443c78926e1a6be
